/* google font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap');

*{
     font-family: 'Work Sans', sans-serif;
}

body{
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
}

.color-primary{
     color: #FF42A5;
}

.btn-primary{
     border-radius: 48px;
     background-color: #FF42A5;
     padding: 16px 30px;
     color: white;
     border: none;

}

.btn-second{
     border-radius: 48px;
     background: #4EC5F7;
     padding: 16px 30px;
     color: white;
     border: none;

}





/* styles section */
.border{
     border: 2px solid red;
}


.header{
     
}


.nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
     background: #FFF;
     box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo{
     display: flex;
     justify-content: flex-start;
     align-items: center;
     gap: 5px;
}

.logo img{
     width: 68.041px;
     height: 27px;

}

.logo h3{
     text-align: center;
     font-size: 32px;
     font-weight: 700;

}

.ul{
     display: flex;
     align-items: center;
     gap: 1rem;

}

.ul li{
     list-style: none;

}

.ul li a{
     text-decoration: none;
     color: #3C354F;
     text-align: center;
     font-size: 15px;
     font-weight: 500;

}
.follow{
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     padding: 10px;
}
.you-tube{
     color: red;
     margin-left: 3px;

}
.tiktok{
     margin-left: 3px;

}

/* Banner section started */

.banner{
     display: flex;
     justify-content: space-around;
     align-items: center;
    
     
}

.banner-content{
     fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
     margin-left: 123px;

}

.banner-content h2{

     color: #0B0223;
     text-align: center;
     font-size: 30px;
     font-weight: 600;
     text-transform: uppercase;
     margin-bottom: 2px;

}

.banner-content h1{
     text-align: center;
     font-size: 76px;
     font-weight: 800;
     text-transform: uppercase;
     color: #D04EC9;
     margin-top: 0px;
     margin-left: 40px;
     margin-bottom: 0px;


}

.banner-content p{
     color: #534C64;
     text-align: center;
     font-size: 12px;
     font-weight: 500;
     text-transform: lowercase;

}

.button-div{
     margin-left: 38px;
     /* padding-left: 25px; */
     margin-top: 12px;


}

.banner-content button{
     margin-left: 6px;
     
}

.banner-image{
     width: 711px;
     height: 446px;
     margin-left: 368px;
     margin-top: 5px;
}

.banner-image img{
     width: 70%;
     height: 100%;

}

/* gamer section styles */

.gamer{
     display: flex;
     align-items: center;
     justify-content: space-around;
     background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
     padding: 0px 60px;

}

.gamer-image{

     width: 850px;
     height: 489px;
 
}

.gamer-image img{
     width: 80%;
     height: 100%;
     margin-top: 20px;
}


.gamer-content h2{

     
     font-size: 42px;
     font-weight: 700;
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     margin-bottom: 0px;


}

.gamer-content .para-1{
     color: #534C64;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 30px; 
     width: 520px;
     height: 120px;
     margin-bottom: 0px;

}

.gamer-content button{
     margin-top: 0px;

}

.gamer-content .para-2{

     color: #534C64;
     font-size: 20px;
     font-style: normal;
     font-weight: 500;
     line-height: 45px;
     margin-top: 6px;
     margin-left: 5px;


}

.para-3{
     color: #534C64;
     font-size: 22px;
     font-style: normal;
     font-weight: 700;
     line-height: 45px;
     width: 520px;
     height: 88px;

}

/* card section styles */

.card{
     padding: 15px 45px;

}

.card-outside{
     text-align: center;
}

.card-outside h2{
     color: #0B0223;
     font-size: 44px;
     font-weight: 700;
     margin-bottom: 0;


}

.funny{
     background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 700;
    
}

.card-outside p{
     color: #534C64;
     font-size: 15px;
     font-weight: 400;
     line-height: 30px; 

}

.card-content{
     display: flex;
     align-items: center;
     padding-left: 75px;
}

.card-image{

     width: 342px;
     height: 400px;
     border-radius: 16px;
     margin: 0;
     margin-top: 20px;

}

.card-image img{
     width: 80%;
     height: auto;

}

.card-image p{
     color: #534C64;
     font-size: 13px;
     font-weight: 500;
     line-height: 30px;
     

}



/* aniversary section */

.aniversary{
     display: flex;
     align-items: center;
     justify-content: space-around;
     padding: 0px 60px;
}

.aniversary-content{
     margin-left: 100px;

}

.aniversary-content h2{
     
          font-size: 42px;
          font-weight: 700;
          margin-bottom: 0px;
          line-height: 50px
}
.aniversary-color{
     color: #F948B2 ;

}

.install{
     margin-left: 65px;
}

.aniversary-content p{
     color: #534C64;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 520px;
    height: 120px;
    margin-bottom: 0px;
    margin-top: 30px;
}




.aniversary-images{
     width: 850px;
     height: 489px;
}

.aniversary-images>img{
     width: 70%;
     height: 100%;
     margin-top: 20px;
    
}
.inside-image img{
     position: relative;
     bottom: 225px;
     right: 101px;
     width: 247.5px;
     height: 302.083px;
     border-radius: 5px;
    

}
















